<!DOCTYPE html>
<html dir="rtl">
<head>
	<title>اطلاعات محصولات هر دسته‌بندی دیجیکالا</title>
</head>

<style>
	h1
	{
		text-align: center;
	}
	form
	{
	 	text-align: center;
	}

</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
	<div class="w3-container w3-display-middle">
		<div class="w3-panel w3-card" style="height: 400px;">
			<h1>لینک دسته‌بندی را وارد کنید</h1><br><br>
			<form id="input-form" method="POST" action="/">
				<input type="text" name="category_link" style="width: 300px;" placeholder="لینک دسته‌بندی"/><br><br>
				<button  id="submitbutton" type="submit" name="submitbutton">بررسی</button>
			</form>
		</div>
	</div>

</body>
</html>